html
{
    background-color: #fff;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 1em;
}
body {
    padding-bottom: 8rem;
}

h1,
h2,
h3
{
    font-family: 'Alegreya Sans SC', monospace;
    font-weight: 300;
    color: #616161;
}

a,
a:visited,
a:hover
{
    color: #212121;
    text-decoration: none;
    border-bottom: 1px solid #D84315;
}
a[href^="#"]
{
    border: none;
}
a[href^="#"]:hover
{
    cursor: default;
}
a[href^="#"]:focus
{
    outline: none;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.125rem;
    letter-spacing: 0.015625rem;
    line-height: 2.575rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    margin: 8px 0;
    line-height: 1.25rem;
}

article {
    margin: 2rem 0;
}

section {
    padding: 1rem;
}

code,
.hljs
{
    background-color: #f2f2f2f2;
}

code {
    font-family: 'Inconsolata', monospace;
    border-radius: 4px;
    padding: .25rem;
}
pre > code {
    margin: 1rem 0;
}

section,
body > header
{
    max-width: 1024px;
    margin: 0 auto;
}

body > header {
    margin-bottom: 2rem;
}

body > header > a,
body > header > a:hover
{
    border: none
}

.logo {
    height: 5rem;
    max-width: 40vw;
    margin: .5rem 0;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hero > h1 {
    flex-basis: 70%;
    align-self: center;
    font-size: 2rem;
}
.hero > article {
    border-radius: .5rem;
    padding: 1rem;
    flex-basis: 30%;
    background-color: #f2f2f2f2;
}
.hero > article > h1 {
    font-size: 2rem;
}
.hero > article > a {
    border-bottom: none;
    border: 1px solid #D84315;
    padding: .5rem;
    border-radius: .25rem;
    margin: 1rem 0;
    display: inline-block;
    float: right;
}
.hero > nav {
    flex-basis: 30%
}
.hero > nav > a {
    border-bottom: none;
    display: block;
    padding: 1rem;
    font-size: 1.25rem;
}
.hero > nav > a:after {
    content: '⭢';
    padding-left: .25rem;
    padding-top: .125rem;
}
.links {
    margin: 1rem 0;
}
.links li:first-child a {
    margin-left: 0;
}
.links li:last-child a {
    margin-right: 0;
}
.links li {
    display: inline-block;
}

.links a {
    font-size: 2rem;
    display: inline-block;
    margin: .25rem;
    padding: .25rem .5rem;
    border: 1px solid #D84315;
    border-radius: .5rem;
    font-family: 'Alegreya Sans SC', monospace;
}

.only-dark,
.hidden
{
    display: none;
}

@media(max-width: 820px) {
    .hero > h1,
    .hero > nav,
    .hero > article
     {
        flex-basis: 100%;
    }
}
