name: Release
on:
    push:
        tags: ['*']
env:
    GITHUB_TAG: ${{ github.ref }}
jobs:
    tests:
        name: Test
        uses: inkapplications/.github/.github/workflows/kmp-checks.yml@2794fc60080c36a29a3c039e96c142c920d3c746
        with:
            java-version: 17
            java-distribution: temurin
    verify-docs:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            -
                name: Configure Java
                uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
                with:
                    java-version: 17
                    distribution: temurin
            -
                name: Docs Requirements
                run: >
                    ./gradlew dokkaGeneratePublicationHtml -Pversion=latest &&
                    if [[ $(git status --porcelain) ]]; then
                        echo "Docs are out of date!" && exit 1;
                    else
                        echo "Docs are current" && exit 0;
                    fi
    publish:
        name: Publish to Maven Central
        needs: [tests, verify-docs]
        secrets: inherit
        uses: inkapplications/.github/.github/workflows/kmp-maven-publish.yml@2794fc60080c36a29a3c039e96c142c920d3c746
        with:
            version: ${{ github.ref_name }}
            java-version: 17
            java-distribution: temurin
            draft-release: false
            publish-linux-arm64: false
            publish-android-native-arm32: false
            publish-android-native-arm64: false
            publish-android-native-x86: false
            publish-android-native-x64: false
            publish-ios-simulator-arm64: false
            publish-watchos-simulator-arm64: false
            publish-watchos-arm32: false
            publish-tvos-simulator-arm64: false
            publish-watchos-device-arm64: false
    draft-release:
        name: Draft Github Release
        needs: [publish]
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            -
                name: Configure Java
                uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
                with:
                    java-version: 17
                    distribution: temurin
            -
                name: Build Archives
                run: ./gradlew cli:assembleDist -Pversion=${{ github.ref_name }}
            -
                name: Prepare Archives
                run: cp cli/build/distributions/shade-*.zip cli/build/distributions/shade.zip && cp cli/build/distributions/shade-*.tar cli/build/distributions/shade.tar
            -
                name: Prepare Changelog Text
                run: mkdir -p build && sed '1,/---/d' CHANGELOG.md | awk '/---/{exit}1' | sed '$d' > build/RELEASE.md
            -
                name: Create Release
                id: create_release
                uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ github.ref }}
                    release_name: ${{ github.ref_name }}
                    draft: true
                    prerelease: false
                    body_path: build/RELEASE.md
            -
                name: Upload Cli Tar
                uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ steps.create_release.outputs.upload_url }}
                    asset_path: cli/build/distributions/shade.tar
                    asset_name: shade.tar
                    asset_content_type: application/x-tar
            -
                name: Upload Cli Zip
                uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ steps.create_release.outputs.upload_url }}
                    asset_path: cli/build/distributions/shade.zip
                    asset_name: shade.zip
                    asset_content_type: application/zip
